.main {
    width: 75%;
    margin: 50px auto;
    min-width: 300px;
}

.bookList {
    display: grid;
    grid-template-areas: "image titleDiv" "divider divider";
    grid-template-columns: 120px 1fr;
}

.bookList:hover {
    cursor: pointer;
}

.bookImage {
    grid-area: image;
    max-width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.bookTitleDiv {
    grid-area: titleDiv;
    padding: 30px 0 0 30px;
}

.bookTitle {
    font-size: 20px;
    font-weight: bold;
}

.bookSubtitle {
    font-size: 13px;
    color: gray;
}

.bookSubtitle span {
    margin-right: 10px;
}

.bookDivider {
    grid-area: divider;
    margin-bottom: 20px;
}