.fill-remaining-space {
    flex: 1 1 auto;
}

.clickable {
    outline: none;
}

.clickable:hover {
    cursor: pointer;
}

.blink_img {
    animation: blinker 2s linear infinite;
    width: 24px;
    height: 24px;
}
@keyframes blinker {
    50% { opacity: 0;}
}
