.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-container>* {
    width: 100%;
}

.book-form-container {
    width: 50%;
    margin: 50px auto;
    min-width: 300px;
}