<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Home Page</title>
  <style>
    .card {
      margin: 60px auto;
      width: 28rem;
    }
    h5 {
      width: 100%;
      text-align: center;
    }
    .socialDiv {
      margin: 20px auto;
    }
    .btnDiv {
      width: 100%;
      text-align: right;
    }
    .loginBtn {
      width: 200px;
    }
    .lineDiv {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #999;
      line-height: 0.1em;
      margin: 10px 0 20px;
    }
    .lineDiv span {
      background: white;
      padding: 0 10px;
      font-size: 0.8rem
    }
  </style>
</head>
<body>

    <div class="card">
      <div class="card-body">
        <h5 class="card-subtitle mb-2 text-muted">Login with</h5>
        <div class="socialDiv">
          <a href="/auth/facebook"><img class="loginBtn" src="../imgs/facebook.jpg" alt="login with Facebook" /></a>
          <a href="#"><img class="loginBtn" src="../imgs/google.jpg" alt="login with Google" /></a>
        </div>

        <div class="lineDiv"><span>or use password</span></div>

        <div>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="btnDiv"><button type="submit" class="btn btn-sm btn-outline-primary">Login</button></div>
          </form>
        </div>
      </div>
    </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
